button.p-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 0px;

  &:hover:not(:disabled) {
    background-color: var(--primary-color);
    opacity: 0.9;
  }

  &:disabled,
  &.p-disabled {
    background-color: #9CA3AF;
    color: #E5E7EB;
    cursor: not-allowed;
  }
}

