.trash-btn {
  left: calc(100% - 70px);
  top: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 15px;

  &:hover:not(:disabled) {
    background-color: var(--primary-color);
    opacity: 0.9;
  }

  &:disabled {
    background-color: #9CA3AF;
    color: #E5E7EB;
    cursor: not-allowed;
  }
}

.cancel-btn {
  left: calc(100% - 140px);
  top: 10px;
}
